<div class="jumbotron">
  <div class="container">
    <table class="table">
      <thead>
        <tr>
          <th>Event name</th>
          <th>Location</th>
          <th>Event Date</th>
          <th>Event Creator</th>
        </tr>
      </thead>
      <tbody>
        <tr><% @all_upcoming_events.each do |t| %></tr>
       <td><%= t.name %></td>
       <td><%= t.location %></td>
       <td><%= t.date %></td>
       <td><%= t.creator.name %></td>
       <td><%= link_to "Show details", event_path(t), class: "btn btn-primary" %></td>
     <% end %>
      </tbody>
    </table>
  </div>
</div>
