
  <!-- <p>Previous events: </p>
  <table class="table">
    <thead>
      <tr>
        <th>Event name</th>
        <th>Location</th>
        <th>Event Date</th>
        <th>Event Creator</th>
        <th>Event Attendees</th>
      </tr>
    </thead>
    <tbody>

        <tr><% @previous_events.each do |t| %></tr>
          <td><%= t.name %></td>
          <td><%= t.place %></td>
          <td><%= t.date %></td>
          <td><%= t.creator.name %></td>
          <td>
            <% t.attendees.each do |a| %>
              <%= a.name %>,
            <% end %>
          </td>
        <% end %>

    </tbody>
  </table>










  helper_method :current_user?, :current_user, :current_user_id, :signed_in?, :create_session, :create_session_and_redirect

  def current_user?
    !session[:name].nil?
  end

  def current_user
    User.find(current_user_id) if signed_in?
  end

  def current_user_id
    session[:current_user_id]
  end

  def signed_in?
    session[:current_user_id].nil? ? false : true
  end

  def create_session(user_id)
    session[:current_user_id] = user_id
  end

  def create_session_and_redirect(user)
    create_session(user.id)
    redirect_to user_path(user.id)
  end





  <div class="jumbotron">
  <div class="container">
    <table class="table">
    <p>Upcoming events: <%= @upcoming_events.count %></p>
    <table class="table">
      <thead>
        <tr>
          <th>Event name</th>
          <th>Location</th>
          <th>Event Date</th>
          <th>Event Creator</th>
          <th>Event Attendees</th>
        </tr>
      </thead>
      <tbody>

          <tr><% @upcoming_events.each do |t| %></tr>
            <td><%= link_to t.name, event_path(t) %></td>
            <td><%= t.location %></td>
            <td><%= t.date %></td>
            <td><%= t.creator.name %></td>
            <td>
              <% t.attendees.each do |a| %>
                <%= a.name %>,
              <% end %>
            </td>
          <% end %>

      </tbody>
    </table>

  </div>

  <div class="container">
    <table class="table">
    <p>Past events: <%= @past_events.count %></p>
    <table class="table">
      <thead>
        <tr>
          <th>Event name</th>
          <th>Location</th>
          <th>Event Date</th>
          <th>Event Creator</th>
          <th>Event Attendees</th>
        </tr>
      </thead>
      <tbody>

          <tr><% @past_events.each do |t| %></tr>
            <td><%= link_to t.name, event_path(t) %></td>
            <td><%= t.location %></td>
            <td><%= t.date %></td>
            <td><%= t.creator.name %></td>
            <td>
              <% t.attendees.each do |a| %>
                <%= a.name %>,
              <% end %>
            </td>
          <% end %>

      </tbody>
    </table>

  </div>
</div>
